<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HeroBiz Bootstrap Template - Home 1</title>
    <meta name="robots" content="noindex, nofollow">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <link href="assets/css/variables.css" rel="stylesheet">
    <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: HeroBiz
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


  <style>
    .result-item .img {
        height: 300px; /* Set the desired height for the image container */
        overflow: hidden; /* Hide any overflow to maintain uniformity */
    }
    .result-item .img img {
        width: 100%; /* Ensure the image fills the container horizontally */
        height: auto; /* Let the height adjust proportionally to maintain aspect ratio */
    }
    
    
</style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img style="width: 100%; height: 100%;" src="assets/img/IMG-20240411-WA0000-removebg-preview.png" alt="">
                
            </a>

            <nav id="navbar" class="navbar">
                <ul>

                    <li class="dropdown"><a href="#"><span>Home</span> 

                    <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
                    <li><a class="nav-link scrollto" href="index.html#services">Services</a></li>
                    
                    
                    
                        
                    </li>
                    
                    <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav>
            <!-- .navbar -->

            

        </div>
    </header>
    <!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
            <img src="assets/img/hero-carousel/eaimage.avif" class="img-fluid animated">
            <h2>Welcome to <span>Adhyayana Academy</span></h2><br>
            <div>
               <h2> <p>"Empower Your POTENTIAL, Elevate Your Success, 
                 Academic Excellence In Every Step!"</p></h2>
            </div>
            
        </div>
        
    </section>

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row gy-4">

                    <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">We have courses in Science, 
                         Commerce, competitive (CET/JEE/NEET/KVPY/Olympiads) and more.</a></h4>
                            <p></p>
                        </div>
                    </div> -->
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">For our Pre University students we offer meticulous teaching for boards (IPUC, IIPUC) both Science and 
                                Commerce.</a></h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                            <h4><a href="" class="stretched-link">For our undergraduate students, we offer a variety of degree programs. These include B.Com (Bachelor 
                                of Commerce) and BCA (Bachelor of Computer Application).</a></h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                            <h4><a href="" class="stretched-link"> Our coursework is 
                                designed to help students develop practical skills as well as critical thinking and problem-solving abilities.</a></h4>
                            <p></p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">For our Pre University students we offer meticulous teaching for boards (IPUC, IIPUC) both Science and 
                                Commerce.</a></h4>
                            <p></p>
                        </div>
                    </div>
                    

                </div>

                

            </div>
        </section>
        <!-- End Featured Services Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About Us</h2>
                    <p>Founded in the year 2021, Adhyayana Academy was established to provide the best education possible. 
                        Our commitment to creating a top-tier learning environment has made us one of the most sought-after 
                        academic institutions in the area.</p>
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="assets/img/about.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <h3 class="pt-0 pt-lg-5">We believe that education should be accessible to all, and our unique 
                            approach to learning ensures that everyone has the opportunity to achieve their goals. 
                             </h3>

                        <!-- Tabs -->
                        
                        <!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p class="fst-italic">We offer a variety of courses and programs designed to meet the needs of our students. From general 
                                    education requirements to specialized programs, we ensure that a student prepares for various 
                                    competitive exams like CET/NEET/JEE not just with the end goal of achieving good marks but with the 
                                    zeal to gain a better understanding and appreciation of concepts. Our institute provides access to an array 
                                    of courses that will help students to succeed in their studies. With a focus on high quality instruction, our 
                                    faculty are committed to helping each student reach their fullest potential. 
                                     </p>
                                     <p class="fst-italic">We also believe in providing a safe and supportive environment for all of our students. Our team takes 
                                        pride in creating an atmosphere where everyone feels welcome, respected, and appreciated. We strive to 
                                        create an inclusive and diverse learning environment where all students can be successful.</p>

                                

                                

                                

                            </div>
                            <!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">

                                <p class="fst-italic"></p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                                </div>
                                <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                                </div>
                                <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                                </div>
                                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

                            </div>
                            <!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">

                                <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                                </div>
                                <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Incidunt non veritatis illum ea ut nisi</h4>
                                </div>
                                <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                                </div>
                                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

                            </div>
                            <!-- End Tab 3 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-out">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        
                    </div>
                </div>

            </div>
        </section>
        <!-- End Clients Section -->

        <!-- ======= Call To Action Section ======= -->
        <section id="Team" class="cta">
            <div class="container" data-aos="zoom-out">

                <div class="row g-5">

                    <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                        <h3>CAMPUS</h3>
                        <p>The campus of Adhyayana Academy is a place of vibrant energy, full of students and faculty members 
                            engaged in learning and discovery. From classrooms to libraries, from lecture halls to athletic facilities, 
                            the campus of our institute is a bustling hub of activity. Each campus has its own unique character, 
                            offering students a variety of experiences and opportunities to explore their interests. </p>
                        <a class="cta-btn align-self-start" href="#">Call To Action</a>
                    </div>

                    <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                        <div class="img">
                            <img src="assets/img/cta.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Call To Action Section -->

        <!-- ======= On Focus Section ======= -->
        <section id="onfocus" class="onfocus">
            <div class="container-fluid p-0" data-aos="fade-up">

                <div class="row g-0">
                    <div class="col-lg-6 video-play position-relative">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div>
                    <div class="col-lg-6">
                        <div class="content d-flex flex-column justify-content-center h-100">
                            <h3>Our Team</h3>
                            <p class="fst-italic">
                                At Adhyayana Academy, we understand the importance of having a strong and experienced team of 
administrators, faculty, and staff. Our team is comprised of highly qualified individuals who are 

                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> passionate about helping our students reach their educational goals. We have assembled an exceptional 
                                    group of individuals who are committed to providing a quality education to all our students.  Each member of our faculty is 
                                    committed to providing students with an exceptional educational experience and helping them reach their 
                                    full potential.  </li>
                                <li><i class="bi bi-check-circle"></i> Our faculty 
                                    consists of highly qualified professionals from various disciplines.</li>
                                <li><i class="bi bi-check-circle"></i> Our faculty are passionate about engaging students and helping them develop critical 
                                    thinking skills and problem-solving abilities that will serve them well in the future.</li>
                            </ul>
                            <a href="#" class="read-more align-self-start"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End On Focus Section -->

        <!-- ======= Features Section ======= -->
        
                    <!-- End Tab 4 Nav -->

                    
                    <!-- End Tab 6 Nav -->

                
                            
        <!-- End Features Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <!-- ======= Students Results Section ======= -->

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Students Results</h2>
            <p>Check out our students' achievements and results below.</p>
        </div>

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p1.jpg" class="img-fluid" alt="Student 1">
                    </div>
                    <div class="details position-relative">
                        <h3>John Doe</h3>
                        <p>Maths: A</p>
                        <p>Science: B+</p>
                        <p>English: A-</p>
                    </div>
                </div>
            </div>


            
            <!-- End Result Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p2.jpg" class="img-fluid" alt="Student 2">
                    </div>
                    <div class="details position-relative">
                        <h3>Jane Smith</h3>
                        <p>Maths: B+</p>
                        <p>Science: A</p>
                        <p>English: A</p>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p1.jpg" class="img-fluid" alt="Student 2">
                    </div>
                    <div class="details position-relative">
                        <h3>Jane Smith</h3>
                        <p>Maths: B+</p>
                        <p>Science: A</p>
                        <p>English: A</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p4.jpg" class="img-fluid" alt="Student 2">
                    </div>
                    <div class="details position-relative">
                        <h3>Jane Smith</h3>
                        <p>Maths: B+</p>
                        <p>Science: A</p>
                        <p>English: A</p>
                    </div>
                </div>
            </div>

            


            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p3.webp" class="img-fluid" alt="Student 1">
                    </div>
                    <div class="details position-relative">
                        <h3>John Doe</h3>
                        <p>Maths: A</p>
                        <p>Science: B+</p>
                        <p>English: A-</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="result-item">
                    <div class="img">
                        <img src="assets/img/hero-carousel/p4.jpg" class="img-fluid" alt="Student 2">
                    </div>
                    <div class="details position-relative">
                        <h3>Jane Smith</h3>
                        <p>Maths: B+</p>
                        <p>Science: A</p>
                        <p>English: A</p>
                    </div>
                </div>
            </div>
            <!-- End Result Item -->

            <!-- Add more students' results here -->

        </div>

    </div>
</section>
<!-- End Students Results Section -->

        
        <!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        
        <!-- End Testimonials Section -->

        <!-- ======= Pricing Section ======= -->
        

        <!-- ======= F.A.Q Section ======= -->
        
        <!-- End F.A.Q Section -->

        <!-- ======= Portfolio Section ======= -->
        
        <!-- ======= Team Section ======= -->
        
                    <!-- End Team Member -->

                    
                    <!-- End Team Member -->

                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <section id="featured-services" class="featured-services">

            <div class="container" style="margin-left: 20%;">
                <div class="section-header">
                    <h2>Students Feedback</h2>
                    
                </div>

                <div class="row gy-4">

                    <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">We have courses in Science, 
                         Commerce, competitive (CET/JEE/NEET/KVPY/Olympiads) and more.</a></h4>
                            <p></p>
                        </div>
                    </div> -->
                    <!-- End Service Item -->

                    <div class="col-xl-13 col-md-10 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link"> I appreciate the institution's dedicated faculty who go the extra mile to ensure a thorough understanding 
                                of the subjects. It's wonderful to acknowledge the hard work and dedication of teachers which plays a 
                                crucial role in student's success. Their guidance and support contributed significantly to the students 
                                achievement in the competitive exams. In Adhyayana they have Advanced teaching methods with 
                                multimedia enabled class rooms. It provides a homely and welcoming environment for students with a 
                                very affordable fee structure which makes it accessible for students coming from all socio-economic 
                                background. 
                                   </a></h4>
                            <p > Dinesh Gowda K (1st PU – Science, Batch 2023-25) </p>
                        </div>
                    </div>

                    <div class="col-xl-13 col-md-10 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link"> I am a proud student of Adhyayana Academy. The teachers here are the best and friendly, coupling 
                                their expertise with an amiable demeanor. I find their instructional approaches particularly commendable. 
                                It is a good and reputable academy for competitive exam preparations. Every student gets individual 
                                attention here. Principal Santhosh Sir, who is endowed with extensive experience in the realm of 
                                education, steers and enlightens us with his profound guidance. I'm delighted to express that my college 
                                selection has proven to be the optimal choice, bringing me immense satisfaction and contentment. </a></h4>
                            <p> Bhuvan Hegde – PU 1 Sci </p>
                        </div>
                    </div>

                    <div class="col-xl-13 col-md-10 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">. I selected Adhyayana (SBS PU and Degree College) due to its exceptional teaching quality. The faculty 
                                across all departments proved to be immensely helpful and supportive, solidifying my decision. The 
                                educational institution offers ample opportunities for the exhibition of talents, fostering a dynamic 
                                environment through the organization of seminars and a diverse array of extracurricular activities. I feel 
                                very proud to be a part of this institution and share some of the positive feedback about my college.</a></h4>
                            <p>  Vanitha Shree T H – Bcom </p>
                        </div>
                    </div>

                    <div class="col-xl-13 col-md-10 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link"> I am Very glad to be a part of the Adhyayana Family, They have an exemplary cadre of faculties, 
                                distinguished by their profound expertise and extensive experience in their respective fields. This 
                                institution not only upholds a high standard of education but also provides abundant opportunities for 
                                academic growth and engagement in a number of co-curricular activities, ensuring a holistic and 
                                enriching learning experience. I take immense pride in my educational journey and express my gratitude 
                                to Mr. Santhosh for his invaluable guidance in every aspect. </a></h4>
                            <p>  Sindhus Shree J – PU 2</p>
                        </div>
                    </div>

                    <div class="col-xl-13 col-md-10 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link"> I like the fact that the Professors and staff are very caring. They give my child more individualized 
                                attention than she has had before. The atmosphere of the college is very positive and healthy. It is good 
                                to see that the college gives equal priorities for both academics and extracurricular activities. I would 
                                like to appreciate the Teaching staff and Santosh Sir (Principal) for their hard work and dedication. Here, 
                                importance is given not only to education but the over-all personality of the child is groomed to prepare 
                                the child for her future. The college also inherits Indian values and etiquettes and tries to inculcate the 
                                same in children through the celebration of festivals and special days.. That's commendable! </a></h4>
                            <p>Dr R Madhusudhan - Parent </p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    

                </div>

                

            </div>
            </section>
 
        
        
        <!-- ======= Recent Blog Posts Section ======= -->
        
        <!-- End Recent Blog Posts Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-header">
                    <h2>Contact Us</h2>
                    
                </div>

            </div>

           
            <!-- End Google Maps -->

            <div class="container">

                <div class="row gy-5 gx-lg-5">

                    <div class="col-lg-4">

                        <div class="info">
                            <h3>Get in touch</h3>
                            <p></p>

                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>SBS college, sri, kommaghata main road, Bande mutt,kengeri settelite town, Bangalore, Karnataka, 560060</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="630a0d050c23061b020e130f064d000c0e">[email&#160;protected]</a></p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>+1 5589 55488 55</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                    <!-- End Contact Form -->

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Adhyayana</h3>
                            <p>
                                SBS college, sri, kommaghata main road, Bande mutt,kengeri settelite town, Bangalore, Karnataka, 560060<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ff96919990bf9a879e928f939ad19c9092">[email&#160;protected]</a><br>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Academy in Bangalore</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Adhyayana, Kengeri </a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#"> Adhyayana, RR Nagar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Adhyayana, Jayanagar</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Adhyayana, Vijaynagar </a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Adhyayana, Indiranagar</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Adhyayana</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Adhyayana</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"875ba1d11a92a3ec","version":"2024.3.0","token":"68c5ca450bae485a842ff76066d69420"}'
        crossorigin="anonymous"></script>
</body>

</html>